*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
}

.container{
    margin-top: 1vh;
    display: grid;
    
    width: 100vw;
    height: 85vh;
}

.left{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    background-color: black;
    border-radius: 10px;
}

.right{
    display: flex;
    margin: 0.5vw;
    
    background-color: gray;
}

.heading {
    
    display: flex;
    font-size: x-large;
    margin-left: 8vw;
    margin-top: 0.5vh;
    color: aliceblue;
}

